---
import Layout from "@/lib/client/Layout.astro";

import {
  actions,
} from "astro:actions";

const result = Astro.getActionResult(actions.authentication.sign_up);

if (result?.data) {
  Astro.cookies.set(
    //
    "token",
    //
    result.data,
    //
    {
      path:
        //
        "/",

      secure:
        //
        true,

      httpOnly:
        //
        true,
    },
  );

  return Astro.redirect("/");
}

const invite_id = Astro.url.searchParams.get("i");
---

<Layout>
  <form
    class="w-full max-w-xs m-auto space-y-2"

    method="POST"

    action={actions.authentication.sign_up}

    data-astro-reload
  >
    <div
      class="space-y-2"

      transition:animate="slide"
    >
      <h1 class="mb-6 text-xl font-semibold">
        Sign Up
      </h1>

      <div class="flex gap-2">
        <label class="w-full space-y-2">
          <div>Username</div>

          <input
            class="w-full h-10 px-2 rounded bg-transparent border border-zinc-900 focus:border-zinc-800 outline-none placeholder:text-zinc-900"

            type="text"

            name="username"

            minlength="3"

            maxlength="24"

            pattern="^[a-zA-Z0-9]*$"

            required

            placeholder="Username"
          />
        </label>

        <label class="w-full space-y-2">
          <div>Password</div>

          <input
            class="w-full h-10 font-sans px-2 rounded bg-transparent border border-zinc-900 focus:border-zinc-800 outline-none placeholder:text-zinc-900"

            type="password"

            name="password"

            minlength="8"

            maxlength="64"

            required

            placeholder="****************"
          />
        </label>
      </div>

      <label class="block space-y-2">
        <div>Invitation</div>

        <input
          class="w-full h-10 font-sans px-2 rounded bg-transparent border border-zinc-900 focus:border-zinc-800 outline-none placeholder:text-zinc-900"

          value={invite_id}

          type="password"

          name="invite_id"

          minlength="36"

          maxlength="36"

          required

          placeholder="************************************"

          data-1p-ignore
        />
      </label>

      <a
        class="block cursor-pointer transition text-zinc-600 hover:text-zinc-500 active:text-zinc-400"

        href="/sign-in"
      >
        I already have an account
      </a>
    </div>

    <button
      class="w-full h-10 cursor-pointer rounded transition bg-zinc-900 hover:bg-zinc-800 active:bg-zinc-700"
    >
      Continue
    </button>

    {
      result?.error && (
        <div class="absolute text-zinc-500 left-1/2 transform -translate-x-1/2">
          {result.error.message}
        </div>
      )
    }
  </form>
</Layout>
