---
import Layout from "@/mayo/client/Layout.astro";

import Navigation from "@/mayo/client/Navigation.astro";

import Player from "@/mayo/client/Player";
---

<Layout>
  <Navigation />

  <div transition:persist>
    <noscript>
      <div class="p-2 text-center text-zinc-500">
        Playing audio requires JavaScript.
      </div>
    </noscript>

    <Player
      client:only="solid-js"

      user={Astro.locals.user}
    />
  </div>
</Layout>
